<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: black;">
    <!-- Grid container -->
    {% comment %} <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Sign up today!</span>
          <a class="btn btn-outline-light btn-rounded" href="{% url 'account:signupform'%}">Register</a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div> {% endcomment %}
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="{% url 'property:index' %}">HouseMe</a>
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
