<!-- Footer -->
       <footer class="page-footer font-small blue pt-4" style="padding: 2%; background-color: #343a40!important; color: white!important;">
         <!-- Footer Links -->
         <div class="container-fluid text-center text-md-left">
           <!-- Grid row -->
           <div class="row">
             <!-- Grid column -->
             <div class="col-md-6 mt-md-0 mt-3 slideanim">
               <!-- Content -->
               <h5 class="text-uppercase">HouseMe</h5>
             </div>
             <!-- Grid column -->
             <hr class="clearfix w-100 d-md-none pb-3">
             <!-- Grid column -->
             <div class="col-md-3 mb-md-0 mb-3">
               <!-- Links -->
               <a href="#">
                 <h5 class="text-uppercase slideanim">HouseMe</h5>
               </a>
               <ul class="list-unstyled">
                 {% if user.is_authenticated %}
                 <li class="slideanim">
                   <!-- <a href="#">
                     <span>Browse Classroom</span>
                   </a>  -->
                 </li>
                 <li class="slideanim">
                   <!-- <a href="#">
                     <span>Rent Your Classroom</span>
                   </a> -->
                 </li>
                 <li class="slideanim">
                   <!-- <a href="#">
                     <span>View Your Classroom</span>
                   </a> -->
                 </li>
                 {% else %}
                 <li class="slideanim">
                   <a href="#">
                     <span>Sign Up</span>
                   </a>
                 </li>
                 <li class="slideanim">
                   <!-- <a href="#">
                     <span>Sign In</span>
                   </a> -->
                 </li>
                 {% endif %}
<!--
                 <li class="slideanim">
                   <a href="#">Join</a>
                 </li>
                  <li>
                 <a href="#!">Blog</a>
               </li> -->
               </ul>
             </div>
             <div class="col-md-3 mb-md-0 mb-3">
               <!-- Links -->
               <h5 class="text-uppercase slideanim">Follow Us On</h5>
               <ul class="list-unstyled">
                 <li class="slideanim">
                   <!-- <a href="#!">Facebook<a href="#" class="fa fa-facebook"></a></a> -->
                   <a href="#"><span class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</span></a>
                 </li>
                 <li class="slideanim">
                   <a href="#"><span class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</span></a>
                 </li>
                 <!-- <li>
                 <a href="#"><span class="btn btn-li"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</span></a>
               </li> -->
                 <li class="slideanim">
                   <a href="#"><span class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</span></a>
                 </li>
               </ul>
             </div>
           </div>
           <!-- Grid row -->
         </div>

         <!-- Copyright -->
         <div class="footer-copyright text-center py-3">© 2020 HouseMe. All Rights Reserved</div>
         <!-- Copyright -->

       </footer>
