{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-2">
        <div class="classroombox" style="padding: 10%; text-align: center; color: black;">
          Filter by Borough
          <hr>
          <div class="">
            <a href="{% url 'property:filter' 'Manhattan' %}">Manhattan</a>
          </div>
          <div class="">
            <a href="{% url 'property:filter' 'Brooklyn' %}">Brooklyn</a>
          </div>
          <div class="">
            <a href="{% url 'property:filter' 'Queens' %}">Queens</a>
          </div>
          <div class="">
            <a href="{% url 'property:filter' 'Bronx' %}">Bronx</a>
          </div>
          <div class="">
            <a href="{% url 'property:filter' 'StatenIsland' %}">StatenIsland</a>
          </div>
        </div>
      </div>
        <div class="col-lg-10">
            {% for listing in listings%}
            <div class="row classroombox" style="padding: 1%;">
              <div class="col-md-4 col-xs-12 ">
                  {% for photo in photos %}
                    <img class="classroomboximg" src="{{photo.image.url}}" alt="" style="width: 600px;">                  
              </div>
              <div class="col-md-8">
                  <h3>{{listing.name}}</h3>
                  <div class="row">
                      <div class="col-md-4">
                          Address : {{listing.address1}} {{listing.address2}}
                      </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                             Description: {{listing.description}}
                          </div>
                          </div>
                    <div class="row">
                        <div class="col-md-4">
                            Borough : {{listing.borough}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Zip Code : {{listing.zipcode}}
                        </div>
                        <div class="col-md-4">
                            Latitude : {{listing.latitude}}
                        </div>
                        <div class="col-md-4">
                            Longitude : {{listing.longitude}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Bedroom : {{listing.bedrooms}}
                        </div>
                        <div class="col-md-4">
                            Bathroom : {{listing.bathrooms}}
                        </div>
                        <div class="col-md-4">
                            Area : {{listing.area}} Sq
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% if listing.furnished %}
                            Furnished: Yes
                            {% else %}
                            Furnished: No
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if listing.elevator %}
                            Elevator: Yes
                            {% else %}
                            Elevator: No
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if listing.heating %}
                            Heating: Yes
                            {% else %}
                            Heating: No
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% if listing.parking %}
                            Parking: Yes
                            {% else %}
                            Parking: No
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if listing.laundry %}
                            Laundry: Yes
                            {% else %}
                            Laundry: No
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if listing.active %}
                            Listing Status: Active
                            {% else %}
                            Listing Status: Inactive
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Rent: ${{listing.rent}}</h4>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{{listing.listing_id}}" role="button">View</a>
                    {% if not listing.map_url %}
                    <a class="btn btn-secondary disabled" href="#" role="button">Map Unavailable</a>
                    {% else %}
                    <a class="btn btn-secondary " href="{{listing.map_url}}" role="button">Map</a>
                    {% endif %}
                    {% if not listing.matterport_link %}
                    <a class="btn btn-secondary disabled btn-block" href="#" role="button">VR Tour Unavailable</a>
                    {% else %}
                    <a class="btn btn-secondary btn-block " href="{{listing.matterport_link}}" role="button">VR Tour</a>
                    {% endif %}
                    {% if not listing.calendly_link %}
                    <a class="btn btn-secondary disabled btn-block" href="#" role="button">Schedule Tour Unavailable</a>
                    {% else %}
                    <a class="btn btn-secondary btn-block " href="{{listing.calendly_link}}" role="button">Schedule Tour</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}

        </div>
    </div>



{% endblock %}

{% block extend_footer %}

{% endblock %}
