{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="main paddform">
    <section class="signup">
        <div class="container" style="width: 70%;">
            <div class="signup-content">
                <form action="{% url 'property:newlisting' %}" method="POST" enctype="multipart/form-data" id="createclass-form" class="signup-form">
                    {% csrf_token %}
                    <h2 class="form-title">Rent Your Property with us!</h2>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="listing_name" id="listing_name" placeholder="Name of Listing" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="address1" id="address1" placeholder="Address 1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="address2" id="address2" placeholder="Address 2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="borough" id="borough" placeholder="Borough" />
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="zipcode" id="zipcode" placeholder="Zip Code" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="latitude" id="latitude" placeholder="Latitude" />
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="longitude" id="longitude" placeholder="Longitude" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <input type="number" class="form-input" name="bedrooms" id="bedrooms" placeholder="No of Bedrooms" />
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <input type="number" class="form-input" name="bathrooms" id="bathrooms" placeholder="No of Bathrooms" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="area" id="area" placeholder="Area" />
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <input type="text" class="form-input" name="rent" id="rent" placeholder="Rent" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <select class="form-input" name="furnished">
                                <option value="" disabled selected hidden>Furnished?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <select class="form-input" name="elevator">
                                <option value="" disabled selected hidden>Elevator?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group slideanim">
                            <select class="form-input" name="heating">
                                <option value="" disabled selected hidden>Heating?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group slideanim">
                            <select class="form-input" name="parking">
                                <option value="" disabled selected hidden>Parking?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <select class="form-input" name="laundry">
                                <option value="" disabled selected hidden>Laundry?</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="file" class="form-input" name="photo_url" id="photo_url" placeholder="Photo URL" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="calendly_link" id="calendly_link" placeholder="Calendly URL" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="map_url" id="map_url" placeholder="Map URL" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="matterport_link" id="matterport_link" placeholder="VR Tour URL"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="text" class="form-input" name="description" id="description" placeholder="Description" />
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12 form-group slideanim">
                            <input type="file" name="images" value="" multiple>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extend_footer %}

{% endblock %}
