{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/browselistings.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <div class="col-lg-8">
            {% for listing in listings%}
            <div class="card mb-3" style="max-width: 720px; max-height: 250px; margin: 25px 25px 25px 25px ">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if listing.photo_url %}
                        <img class="rounded-start cropped" src="{{listing.photo_url.url}}" alt="..." style="">
                        {% else %}
                        <img src="https://via.placeholder.com/300" class="img-fluid rounded-start" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{listing.address1}} {{listing.address2}}</h5>
                            <p class="card-text">{{listing.description}}</p>
                            <div class="row">
                                <div class="col-md-4"> Zip Code: {{listing.zipcode}} </div>
                                <div class="col-md-4"> Borough: {{listing.borough}} </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> Bedroom: {{listing.bedrooms}} </div>
                                <div class="col-md-4"> Bathroom: {{listing.bathrooms}}</div>
                                <div class="col-md-4"> Area : {{listing.area}} Sq</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> Furnished: {{listing.furnished}} </div>
                                <div class="col-md-4"> Laundry: {{listing.laundry}}</div>
                                <div class="col-md-4"> Heating: {{listing.heating}} </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> Parking: {{listing.parking}} </div>
                                <div class="col-md-4"> Elevator: {{listing.elevator}}</div>
                            </div>

                            <div class="d-flex align-items-end">
                                <a class="btn btn-primary" href="{{listing.listing_id}}" role="button"
                                    style="margin: 2px 2px 2px 2px">View</a>
                                <a class="btn btn-secondary " href={% url 'property:editlisting' listing.listing_id %}
                                    role="button" style="margin: 2px 2px 2px 2px">Edit</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}

{% block extend_footer %}

{% endblock %}