{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block extend_head %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="container">
    <form id = 'listingform' method="POST" enctype="multipart/form-data" multiple action = "{% url 'property:newlisting' %}">
    {% csrf_token %}
    {{ form|crispy}}
    {{formset.management_form}}
    {% for i in formset %}
        {{ i | crispy }}
    {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

{% endblock %}

{% block extend_footer %}

{% endblock %}
