{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}


    <div class="container">
        <!-- TODO: need to use a loop to display images for each specific property, not just a static amount like right now  -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    {% if listing.photo_url %}
                    <img src="{{listing.photo_url.url}}" style="width:100%;">
                    {% else %}
                <p></p>
                {% endif %}

            <!-- Left and right controls -->
        </div>

        <!-- Property Location -->
        <div class="property-location">
            <h3 class="">Address</h3>
            <span class="">{{listing.address1}}</span><br>
            <span class="">{{listing.borough}}, NY {{listing.zipcode}}</span>
        </div>

        <!-- Property Description -->
        <div class="property-description">
            <h3 class="">Description</h3>
            <p style="font-size:16px">{{listing.description}}</p>
        </div>

        <!-- Property Reviews -->
        <div class="panel-group" id="accordion">
            <h3 class="">Extensive Details on {{listing.address1}}</h3>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Virtual Tour</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <p>
                        <!-- TODO: only add this if listing has an actual VR tour link (do the same for the other fields, e.g., calendly, map, etc.) -->
                        <a href="{{listing.matterport_link}}" target="_blank">Link to Virtual Tour</a>
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Collapsible Group 2</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Collapsible Group 3</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</div>
                </div>
            </div>
        </div>

        <!-- Schedule a Tour -->
        <div class="Schedule a Tour">

        </div>
    </div>

{% endblock %}

{% block extend_footer %}

{% endblock %}
