{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/property_page.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class='col-md-8'>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                {% if listing.photo_url %}
                        <img src="{{listing.photo_url.url}}" class="d-block w-100" style="width: 100%; height:750px;">
                        {% else %}
                        <img src="https://via.placeholder.com/300" class="d-block w-100" style="width: 100%; height:750px;">>
                        {% endif %}
              </div>
              <div class="carousel-item">
                {% if listing.photo_url2 %}
                    <img src="{{listing.photo_url2.url}}" class="d-block w-100" alt="..."
                        style="width: 100%; height:750px;">
                    {% else %}
                    <img src="https://images.pexels.com/photos/276724/pexels-photo-276724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" style="width: 100%; height:750px;">
                    {% endif %}
              </div>
              <div class="carousel-item">
                {% if listing.photo_url3 %}
                <img src="{{listing.photo_url3.url}}" class="d-block w-100" alt="..."
                    style="width: 100%; height:750px;">
                {% else %}
                <img src="https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" style="width: 100%; height:750px;">
                {% endif %}
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
        
          <div class='col-md-4'>
            <!-- Property Location -->
            <div class='container mt-5'>
                <h2>
                   {{listing.name}} 
                </h2>
                <h6>
                    <span class="">{{listing.address1}}</span><br>
                    <span class="">{{listing.borough}}, NY {{listing.zipcode}}</span><br><br>
                </h6>
                <!-- Property Description and Information -->
                {% if listing.description %}
                <h4>Description</h4>
                <p class= "text-break" style="font-size:14px"> {{listing.description}}</p><br>
                {% endif %}

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
                            type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="accommodations-tab" data-bs-toggle="tab"
                            data-bs-target="#accommodations" type="button" role="tab" aria-controls="accommodations"
                            aria-selected="false">Accommodations</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <li class="list-group-item"><i class="fa-solid fa-dollar fa-fw"></i> Rent: ${{listing.rent}}
                        </li>
                        <li class="list-group-item"><i class="fa-solid fa-ruler fa-fw"></i> Area: {{listing.area}} sq.
                            ft
                        </li>
                        <li class="list-group-item"><i class="fa-solid fa-bed fa-fw"></i> Bedrooms: {{listing.bedrooms}}
                        </li>
                        <li class="list-group-item"><i class="fa-solid fa-shower fa-fw"></i> Bathrooms:
                            {{listing.bathrooms}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-star fa-fw"></i> Rating: {{listing.ratings}}
                        </li>
                        <li class="list-group-item"><i class="fa-solid fa-person fa-fw"></i> Owner: {{listing.owner}}
                        {% if listing.owner.profile.isVerified %} <i class="fa fa-check fa-sm" style="color:green;object-fit:contain;"></i> {% endif %}
                        </li>
                    </div>
                    <div class="tab-pane fade" id="accommodations" role="tabpanel" aria-labelledby="accommodations-tab">
                        <li class="list-group-item"><i class="fa-solid fa-couch fa-fw"></i> Furnished:
                            {{listing.furnished| yesno:"Yes,No"}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-elevator fa-fw"></i> Elevator:
                            {{listing.elevator| yesno:"Yes,No"}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-temperature-arrow-up fa-fw"></i> Heating:
                            {{listing.heating| yesno:"Yes,No"}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-car fa-fw"></i> Parking:
                            {{listing.parking| yesno:"Yes,No"}}</li>
                        <li class="list-group-item"><i class="fa-solid fa-shirt fa-fw"></i> Laundry:
                            {{listing.laundry| yesno:"Yes,No"}}</li>
                    </div>
                </div>
            </div>
            <div class='container mt-5'>
                <h5 class=""><b>Additional Information for {{listing.address1}}</b></h5>

                <h6>Virtual Tour</h6>
                {% if not listing.matterport_link %}
                <a class="btn btn-secondary disabled btn-block" href="#" role="button">VR Tour Unavailable</a>
                {% else %}
                <a class="btn btn-secondary btn-block " href="{{listing.matterport_link}}" role="button">VR Tour</a>
                {% endif %}<br><br>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class='col-md-8'>
            <div id="map"></div>
        </div>
        <div class='col-md-4'>
            <div class='container'>
                <h6>Check Previous Years Price Trends Of All Neighborhoods Accross {{listing.borough}}!</h6>
                <a class="btn btn-primary" href="{% url 'property:charts' listing.borough %}" role="button"> View Trends
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class='col-md-8'>
            {% if comments %}
            <div class="list-group">
                {% for comment in comments %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{comment.text}}</h5>
                        <small>{{comment.created_at}}</small>
                    </div>
                    <small>- {{comment.user.first_name}} {{comment.user.last_name}}</small>
                </a>
                {% endfor %}
            </div>
        {% else %}
        <h3> <b> There are no comments </b></h3>
        {% endif %}

        </div>
        <div class='col-md-4'>
            <div class="container">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'warning' %}
                <div class="alert alert-danger my-2" role="alert">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <form id='listingform' method="POST" enctype="multipart/form-data"
                    action="{% url 'property:newcomment' property_id %}">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {{ comment_form|crispy}}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>

                <div class="mt-2">
                    <form id='ratingsform' method="POST" action="{% url 'property:newrating' property_id %}">
                        {% csrf_token %}
                        <label for="rating_value" class="form-label">Rating (0 - 5)</label>
                        <input name="rating_value" type="range" class="form-range" min="0" max="5" step="0.5"
                            id="rating_value">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="panel-group" id="accordion">
                <h6>Schedule an Appointment</h6>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger my-2" role="alert">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'info' %}
                <div class="alert alert-info my-2" role="alert">
                    {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <form class="needs-validation" id='requestTourForm' method="POST" enctype="multipart/form-data" multiple
                    action="/property/{{listing.listing_id}}" novalidate>
                    {% csrf_token %}
                    {% crispy form %}
                </form>

                <script>
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
            </div>
        </div>
    </div>
</div>

<!-- Additional Property Information -->
{% endblock %}


{% block extend_footer %}
<script type="text/javascript">
    var longitude = parseFloat("{{listing.longitude}}");
    var latitude = parseFloat("{{listing.latitude}}");
    var listing_name = "{{listing.name}}";
</script>
<script src="{% static 'js/map.js' %}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{google_api_key|safe}}&callback=initMap">
</script>
{% endblock %}