{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <!-- original code for chat -->
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <script src="{% static 'js/chat.js' %}"></script>
        <!-- -->
        
        <script>
            // Entire Chat window
            const mainContainer = document.querySelector('#root > div');
            mainContainer.style.minHeight = '80%';
            mainContainer.style.marginTop = '4.2rem';
            mainContainer.style.marginBottom = '6rem';

            // main chat frame
            const msgList = document.querySelector('#root > div > div.right-panel > div.rce-container-mlist.message-list > div');
            msgList.style.backgroundColor = '#f0f0f0';
        </script>
    </div>
{% endblock %}

{% block extend_footer %}

{% endblock %}
