{% extends 'base.html'%}
{% load static %}

{% block extend_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <input type="hidden" id="logged-in-user" value="{{ user.username }}">
    {% endif %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100 ">
            <div class="col-md-4 col-xl-3 chat h-100 mt-4">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            {% for thread in Threads %}
                                <li class="{% if forloop.first %}active{% endif %} contact-li" chat-id="chat_{{ thread.id }}" style="cursor: pointer">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <!-- TODO: user profile image here -->
                                            <!-- <span class="online_icon"></span> -->
                                        </div>
                                        
                                        <div class="user_info">
                                            {% if thread.first_person == user %}
                                                <span>{{ thread.second_person.username }}</span>
                                            {% else %}
                                                <span>{{ thread.first_person.username }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ui>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 col-xl-6 chat h-100 mt-4">
                <div class="card">
                    {% for thread in Threads %}
                        <div class="messages-wrapper  {% if forloop.first %}hide is_active{% else %}hide{% endif %}" chat-id="chat_{{ thread.id }}" other-user-username="
                                    {% if thread.first_person == user %} {{ thread.second_person.username }}
                                    {% else %} {{ thread.first_person.username }} {% endif %}">
                            <div class="card-header msg_head">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="" class="rounded-circle user_img">
                                        <!-- <span class="online_icon"></span> -->
                                    </div>
                                    <div class="user_info">
                                        {% if thread.first_person == user %}
                                                <span>{{ thread.second_person.username }}</span>
                                        {% else %}
                                            <span>{{ thread.first_person.username }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="card-body msg_card_body">
                                <!------- messages ------->
                                {% for chat in thread.chatmessage_thread.all %}
                                    {% if chat.user == user %}
                                        <div class="d-flex mb-4 replied">
                                            <div class="msg_cotainer_send">
                                                {{ chat.message }}
                                                <span class="msg_time_send">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                            </div>
                                        <div class="img_cont_msg">

                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="d-flex mb-4 received">
                                        <div class="img_cont_msg">
                                            <!-- TODO: user profile image here -->
                                        </div>
                                        <div class="msg_cotainer">
                                            {{ chat.message }}
                                            <span class="msg_time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <!------- messages ------->
                            </div>

                        </div>
                    {% endfor %}
                    <div class="card-footer">
                        <form id="send-message-form">
                            <div class="input-group">
                                <input type="text" name="" id="input-message" class="form-control type_msg" placeholder="Type your message">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-block p-3" type="submit">
                                        <i class="fas fa-location-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
